# ── App ───────────────────────────────────────────────
APP_NAME=RadFlow
APP_ENV=development
DEBUG=true
FRONTEND_URL=http://localhost:3000

# ── MongoDB ───────────────────────────────────────────
MONGODB_URL=mongodb://localhost:27017
MONGODB_DB_NAME=radflow

# ── JWT ───────────────────────────────────────────────
JWT_SECRET_KEY=CHANGE_ME_USE_LONG_RANDOM_STRING_IN_PROD
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=1440



INTERSWITCH_CLIENT_ID=your_client_id_here
INTERSWITCH_CLIENT_SECRET=your_client_secret_here
INTERSWITCH_BASE_URL=https://qa.interswitchng.com
INTERSWITCH_WHATSAPP_URL=https://api-marketplace-routing.k8.isw.la/marketplace-routing/api/v1/whatsapp/auth/send

OTP_EXPIRE_MINUTES=5
OTP_LENGTH=6

CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret
CLOUDINARY_UPLOAD_PRESET=radflow_frames
CLOUDINARY_FOLDER=radflow/frames
MEDIA_MAX_SIZE_MB=10
